[Desktop Entry]
Encoding=UTF-8
Name=MX Cleanup
Name[ca]=MX Cleanup
Name[de]=MX Cleanup
Name[el]=MX Cleanup
Name[es]=MX Cleanup
Name[fr]=MX Cleanup
Name[it]=MX Cleanup
Name[ja]=MX Cleanup
Name[nl]=MX Cleanup
Name[sv]=MX Cleanup
Comment=
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[sv]=
Exec=su-to-root -X -c mx-cleanup
Terminal=false
Type=Application
Icon=mx-cleanup
Categories=GNOME;GTK;System;
NoDisplay=false
