[Desktop Entry]
Encoding=UTF-8
Name=MX Cleanup
Name[de]=MX Cleanup
Name[el]=MX Cleanup
Name[es]=MX Cleanup
Name[fr]=MX Nettoyage
Name[nl]=MX Opruimen
Name[sv]=MX Cleanup
Comment=Quick and safe removal of old files
Comment[de]=Schnelles und sicheres Entfernen alter Dateien
Comment[el]=Γρήγορη και ασφαλής αφαίρεση παλιών αρχείων
Comment[es]=Eliminar ficheros viejos, rápido y seguro
Comment[fr]=Suppression rapide et sécurisée des anciens fichiers
Comment[nl]=Snelle en veilige verwijdering van oude bestanden
Comment[sv]=Snabb och säker borttagning av gamla filer
Exec=su-to-root -X -c mx-cleanup
Terminal=false
Type=Application
Icon=mx-cleanup.svg
Categories=System;MX-Maintenance
NoDisplay=false
